__pycache__
data/*
exp/demo/*
openai
*.o
*.so
*.pyx
core/lib/freqencoder/build
core/lib/gridencoder/build
core/lib/freqencoder/dist
core/lib/gridencoder/dist
*.egg-info
logs
*.pt
*.pth
thirdparties/MODNet
thirdparties/clip
clip_ckpts
input_data/demo/*
.DS_Store